<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{ title : 'Hoteles' }) %>

    <body>
        <!-- header -->
        <%- include('./partials/header') %>
            <!-- cuerpo de pagina -->
            <main>
                <div class="contenedor">

                </div>
        <!-- Hoteles recomendados mobile slider -->
        <section class="contenedor-primer-carrusel">
            <div class="swiper-container mySwiper">
                <h3 class="my-4"> Hoteles recomendados para ti </h3>
                <div class="swiper-wrapper">
                    <% products.forEach(product => { %>
                        <%-include('./partials/cards-slider-hotel-mobile',{
                            ...product.dataValues
                        }) %>
                    <% }) %>
                </div>
            </div>
        </section>
    <!-- cards solo vista desktop HOTELES  -->
    <section class="contenedor-card">
        <h3 class="my-4"> Hoteles recomendados para ti </h3>
        <div class="row segunda-tarjeta-desktop">
            <% products.forEach(product => { %>
                <div class="col-12 col-md-4 d-flex">
                    <%-include('./partials/cards-hotel-index',{
                        ...product.dataValues
                    }) %>
                </div>
            <% }) %>
        </div>
    </section>
</main>


    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- scripts-->
    <%- include('./partials/scripts') %>
    </body>

</html>