<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./partials/head',{
        title : 'Product Detail'
    }) %>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    <!-- cuerpo de pagina -->
    <main class="product__container">
        <div class="product__image">
            <img width="100%" src="/images/<%= image || 'card1.png' %>" alt="">
        </div>
        <div class="product__details">
            <div class="product__title-rating">
                    <h1 class="product__title"><%= countrie ? `${name} | ${countrie.name}`  : hotel.name %></h1>

                <div class="product__rating">
                    ★★★★<span class="product__star-gray">★</span> 
                </div>
            </div>
            <p class="product__description"><%= description %></p>
            <% if (hotel) { %>
                <p class="product__additional-info">Habitaciones cuádruples / Varios tipos de camas.</p>

            <% } %>
            <p class="product__additional-info product__price"><strong>U$S<%= price %></strong></p> 
            <button class="product__button">RESERVAR</button>
        </div>
    </main>
    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>

