<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head',{ title : 'Vuelos' }) %>

    <body>
        <!-- header -->
        <%- include('./partials/header') %>
            <!-- cuerpo de pagina -->
    <main>
       
      
        <!-- Vuelos recomendados mobile slider -->
        <section class="contenedor-primer-carrusel">
            <div class="swiper-container mySwiper">
                <h3>Destinos recomendados para ti</h3>
                <div class="swiper-wrapper">
                    <% products.filter(product => product.countrie).forEach(product => { %>
                        <%-include('./partials/cards-slider-lugar-mobile',{
                            ...product.dataValues
                        }) %>
                    <% }) %>
                </div>
            </div>
        </section>
        <!-- cards solo vista desktop LUGARES -->
        <section class="contenedor-card"> 
            <h3>Destinos recomendados para ti </h3>
            <div class="row segunda-tarjeta-desktop">
                <% products.filter(product => product.countrie).forEach(product => { %>
                    <div class="col-12 col-md-3 col-lg-4 col-xl-3 d-flex">
                        <%-include('./partials/cards-lugar-index',{
                            ...product.dataValues
                        }) %>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>


    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- scripts-->
    <%- include('./partials/scripts') %>
    </body>

</html>