<div class="col">
    <div class="card">
        <img src="/images/<%= image %>" class="card-img-top" alt="...">
        <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title text-white"><%= place %></h5>
            <ul class="card-text text-white">
                <li>Ubicación: <%= location %></li>
                <li>Precio: <%= price %></li>
                <li>Descripción: <%= description %></li>
                <div class="estrellas">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <a class="pointer btn btn-primary mt-2" href="/products/productDetail">Mas Detalles</a>
            </ul>
        </div>                        
    </div>
</div>
