    <% if (products.id === products.hotelId) { %>
        <div class="card">
            <img src="/images/<%= products.image || 'card1.png' %>" class="card-img-top" alt="...">
            <div class="card-body rounded-bottom d-flex flex-column justify-content-center align-items-center">
                <h5 class="card-title text-white"><%=  products.name %></h5>
                <ul class="card-text text-white">
                    <li>País: <%= products.country %></li>
                    <li>Precio: <%= products.price %></li>
                    <li>Descripcion: <%= products.description %></li>
                    <div class="estrellas">
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <a class="pointer btn btn-primary mt-2" href="/products/detail/<%= products.id %>">Mas Detalles</a>
                </ul>
            </div>                        
        </div>
    <% } %>